body {
    margin: 0;
    width: 100%;
}

.container {
    max-width: 1440px;
}

header {
    padding: 16px 32px;
}

header div {
    gap: 16px;
}

header div .inscricoes {
    background: #F60;
    border-radius: 4px;
    gap: 10px;
    padding: 4px 16px;
}

h2 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

header div .inscricoes h2 {
    color: #FEFEFE;
    font-family: "Roboto";
}

header .usuario .circulo {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border: 2px solid #E5E7EB;
    border-radius: 100%;
}

header .usuario img {
    border-radius: 100%;
}

nav {
    padding: 40px var(--spacing-spacing-md, 24px);
}

nav a figure {
    margin: 0;
}